<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title or "Billing Dashboard" }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='ui.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

<div class="app">

  <aside class="sidebar">
 <h2 class="logo">
  <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo-img">
  <span class="logo-text"></span>
</h2>



  <nav>
    <a href="{{ url_for('main_menu') }}">MENU</a>
    <a href="{{ url_for('dashboard') }}">DASHBOARD</a>
    <a href="{{ url_for('laporan') }}">LAPORAN</a>
    <a href="{{ url_for('pelanggan') }}">PELANGGAN</a>
    <a href="{{ url_for('tagihan') }}">TAGIHAN</a>
  </nav>
</aside>


  <main class="main">
    {% block content %}{% endblock %}
  </main>

</div>

</body>
</html>
